* {
margin:0;
padding:0;

}

body {
  font-family: Helvetica, sans-serif;
  /* overflow-x: hidden; */
  /* max-width: 90%; */
  margin: 0;

}

footer {
  color: #f9faf8;
}

.blue-section {
  background-color: #1F2937;
}

.top {
  height: 500px;
}

.white-section {
  background-color: #f8f8ff;
}

.info {
  height: 600px;
}

.info-header {
  size: 36px;
  font-weight: bold;
  color: #1f2937;
  position: relative;
  left: 550px;
  top: 35px;
  padding-bottom: 25px;
  width: 600px;
}

.info-container {
  padding: 30px;
  display: flex;
  gap: 5px;
  height: 400px;
  position: relative;
  /* left: 50px; */
  top: 45px;
}

.info-images {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 5px;
}

.subtext {
  color: grey;
  width: 350px;
  position: relative;
  top: 200px;
  right: 160px;
  height: 200px;
}

.grey-section {
  background-color: #E5E7EB;
  height: 400px;
  position: relative;
  top: 0px;
}

.cta {
  height: 250px;
}

.footer {
  height: 100px;
  text-align: center;
}

.copyright {
  position: relative;
  top: 45px;
}

.headertitle {
  font-size: 24px;
  color: #f9faf8;
  position: relative;
  left: 150px;
  padding: 10px;
  width: 200px;
}

.navbar {
  /* border: 1px solid; */
  position: absolute;
  left: 800px;
  top: 20px;
}

.nav-link {
  font-size: 18px;
  color: #e5e7eb;
  padding: 10px;
}

.main-title {
  font-size: 48px;
  font-weight: bold;
  color:#f9faf8;
  position: relative;
  left: 150px;
  top: 100px;
  width: 400px;
}

.main-text {
  font: 18px;
  color: #e5e7eb;
  position: relative;
  top: 100px;
  left: 150px;
  width: 400px;
}

.btn {
  background-color: #3882f6;
  position: relative;
  left: 150px;
  top: 110px;
  border-radius: 10px;
  border: none;
  width: 100px;
  height: 30px;
  color: white;
}

.some-image {
  position: absolute;
  left: 750px;
  top: 150px;
  width: 500px;
  height: 200px;
}


.quote {
  font-size: 32px;
  font-style: italic;
  font-weight: normal;
  color: #1f2937;
  position: relative;
  padding: 15px;
  height: 300px;
  width: 800px;
  left: 350px;
  top: 100px;
}

.thor {
  font-weight: bold;
  position: relative;
  font-style: normal;
  font-size: 25px;
  top: 25px;
  left: 200px;
}

.cta-container {
  background-color: #3882f6;
  color: #f9faf8;
  height: 150px;
  width: 1000px;
  border-radius: 10px;
  position: relative;
  left: 270px;
  top: 100px;
}

.cta-title {
  position: relative;
  top: 45px;
  left: 130px;
  font-size: 25px;
}

.cta-content {
  position: relative;
  top: 50px;
  left: 130px;
}

.cta-btn {
  background-color: #3882f6;
  color: #f9faf8;
  border-color: white;
  box-shadow: none;
  position: relative;
  top: 10px;
  left: 750px;
  height: 35px;
  width: 100px;
  border-radius: 5px;
}

.cta {
  height: 350px;
}
